@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<title>Playboy Carti w hali Torwar</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Montserrat", sans-serif
    }

    .w3-row-padding img {
        margin-bottom: 12px
    }

    .bgimg {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Arca_Sonar_1.jpg/1200px-Arca_Sonar_1.jpg');
        min-height: 100%;
    }
</style>
</head>
<body>

    <nav class="w3-sidebar w3-hide-medium w3-hide-small" style="width:40%">
        <div class="bgimg"></div>
    </nav>

    <div class="w3-main w3-padding-large" style="margin-left:40%">

        <header class="w3-container w3-center" style="padding:128px 16px" id="home">
            <h1 class="w3-jumbo"><b>COOL FESTIVAL - Hala Stulecia we Wrocławiu!</b></h1>
            <p>Hala Stulecia, Wrocław, 15/09/2021, 17:00</p>
        </header>

        <div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
            <h2>Opis koncertu</h2>
            <hr class="w3-opacity">
            <p>
                Arca, Bjork, Tyler the Creator, Amnesia Scanner, IC3PEAK, tylko w Hali Stulecia, 15 września 2021 r.!
            </p>

            <h3 class="w3-padding-24">Artyści</h3>
            <img src="https://the-talks.com/wp-content/uploads/2017/11/Bjork-01-1460x760.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
            <p><span class="w3-large w3-text-black w3-margin-right">Bjork</span> 17:00 - 18:30</p>
            <p>Legendarna islandzka wokalistka, od 30 lat nieprzerwanie szokuje i inspiruje kolejne pokolenia fanów muzyki</p><br>

            <img src="https://static.wikia.nocookie.net/naszaeurowizja/images/7/78/Tumblr_odtkl4UTEW1slpn1co1_1280.jpg/revision/latest/scale-to-width-down/300?cb=20200904230610&path-prefix=pl" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
            <p><span class="w3-large w3-text-black w3-margin-right">IC3PEAK</span> 18:45 - 20:15</p>
            <p>Duet muzyki elektronicznej prosto z Rosji - zapraszamy na elektryzującą podróż na Wschód!</p><br>

            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Arca_Sonar_1.jpg/1200px-Arca_Sonar_1.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
            <p><span class="w3-large w3-text-black w3-margin-right">Arca</span> 20:30 - 22:00</p>
            <p>Wenezuelska twórczyni muzyki elektronicznej, autorka m.in. albumów "Arca" i "Kick I" po raz pierwszy w Polsce!</p><br>

            <img src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.6435-9/200918005_340253644126980_6018152474060479353_n.jpg?_nc_cat=1&ccb=1-4&_nc_sid=09cbfe&_nc_ohc=okgthdfXqw4AX8fzRTc&_nc_ht=scontent-frt3-2.xx&oh=9592a0d61c93c75b6988601aa59d3ac6&oe=6134790C" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
            <p><span class="w3-large w3-text-black w3-margin-right">Tyler the Creator</span> 22:15 - 23:45</p>
            <p>Tego rapera nikomu nie trzeba przedstawiać - laureat nagrody Grammy za album "IGOR" zabierze Was w sentymentalną podróż ze swoim nowym albumem</p><br><br />

            <img src="https://www.nowamuzyka.pl/wp-content/uploads/2018/09/xa2258833945_10-1024x1024.jpg.pagespeed.ic.6vEbBteenx.webp" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
            <p><span class="w3-large w3-text-black w3-margin-right">Amnesia Scanner</span> 00:00 - 01:30</p>
            <p>Na koniec koncertu awangardowy zespół prosto z Finlandii - Amnesia Scanner czyli jedna z najbardziej zaskakujących formacji w muzyce elektronicznej ostatnich lat!</p><br>
            
            <h3 class="w3-padding-16">Opcje biletów</h3>
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-half w3-margin-bottom">
                    <ul class="w3-ul w3-center w3-card w3-hover-shadow">
                        <li class="w3-dark-grey w3-xlarge w3-padding-32">Sektor A</li>
                        <li class="w3-padding-16">miejsca przy scenie</li>
                        <li class="w3-padding-16">liczba miejsc: 200</li>
                        <li class="w3-padding-16">
                            <h2>399.99 PLN</h2>
                        </li>
                        <li class="w3-light-grey w3-padding-24">
                            <p><a href="@Url.Action("OrderingTicketCool", "Tickets")">Zamów bilet</a></p>
                        </li>
                    </ul>
                </div>

                <div class="w3-half">
                    <ul class="w3-ul w3-center w3-card w3-hover-shadow">
                        <li class="w3-black w3-xlarge w3-padding-32">Sektor B</li>
                        <li class="w3-padding-16">miejsca siedzące w odległości 20-30 metrów od sceny</li>
                        <li class="w3-padding-16">liczba miejsc: 50</li>
                        <li class="w3-padding-16">
                            <h2>299.99 PLN</h2>
                        </li>
                        <li class="w3-light-grey w3-padding-24">
                            <p><a href="@Url.Action("OrderingTicketCool", "Tickets")">Zamów bilet</a></p>
                        </li>
                    </ul>
                </div>

                <div class="w3-half">
                    <ul class="w3-ul w3-center w3-card w3-hover-shadow">
                        <li class="w3-black w3-xlarge w3-padding-32">Sektor C</li>
                        <li class="w3-padding-16">miejsca siedzące w odległości 40-50 metrów od sceny</li>
                        <li class="w3-padding-16">liczba miejsc: 150</li>
                        <li class="w3-padding-16">
                            <h2>249.99 PLN</h2>
                        </li>
                        <li class="w3-light-grey w3-padding-24">
                            <button class="w3-button w3-white w3-padding-large w3-hover-black">Zamów bilet</button>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="w3-padding-32 w3-content w3-text-grey" id="contact" style="margin-bottom:64px">
            <h2>Kontakt w sprawie koncertu</h2>
            <hr class="w3-opacity">

            <div class="w3-section">
                <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> ul. Mieszka I 14, 67-320 Małomice</p>
                <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> 881 052 365</p>
                <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> przemyslawcukierski@o2.pl</p>
            </div>
        </div>

</body>
</html>
