@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .price {
            color: grey;
            font-size: 22px;
        }

        .card button {
            border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        .myButtonClass {
            border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        .myButtonClass:hover{
            opacity: 0.7;
        }

            .card button:hover {
                opacity: 0.7;
            }
    </style>
</head>
<body>

    <div class="card">
        <img src="https://is5-ssl.mzstatic.com/image/thumb/Features115/v4/4f/6c/cf/4f6ccf13-9927-7965-d954-3178a49f8e0c/mzl.iquhwvbg.jpg/375x375cc.webp" alt="Denim Jeans" style="width:100%">
        <h1>Playboy Carti w Hali Torwar</h1>
        <p class="price">od 149.99 PLN</p>
        <p>Jedyny taki występ w Polsce! Playboy Carti zaprezentuje po raz pierwszy na żywo utwory z wersji Deluxe kultowego albumu "Whole Lotta Red"!</p>
        <button><a href="CartiConcert" class="myButtonClass">Zamów bilet &raquo;</a></button>
    </div>
    <br />

    <div class="card">
        <img src="https://muno.pl/wp-content/uploads/2020/05/Arca-850x570.jpg" alt="Denim Jeans" style="width:100%">
        <h1>COOL FESTIVAL - Hala Stulecia, Wrocław</h1>
        <p class="price">od 299.99 PLN</p>
        <p>Arca, Bjork, Tyler the Creator, Amnesia Scanner, IC3PEAK, tylko w Hali Stulecia, 15 września 2021 r.!</p>
        <button><a href="CoolConcert" class="myButtonClass">Zamów bilet &raquo;</a></button>
    </div>
    <br />

    <div class="card">
        <img src="https://i.iplsc.com/zenek-martyniuk/0009PL2T6I1M5SJB-C122-F4.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Zenek Martyniuk Symfonicznie</h1>
        <p class="price">od 99.99 PLN</p>
        <p>Największe hity króla disco polo w wykonaniu Narodowej Orkiestry Symfonicznej Polskiego Radia. Jedyne takie wydarzenie w stolicy Podkarpacia!</p>
        <button><a href="ZenekConcert" class="myButtonClass">Zamów bilet &raquo;</a></button>
    </div>
    <br />

</body>
</html>
